sudo: required
language: generic

services:
  - docker

after_success:
  - build -t epourgh/ecommerce-frontend ./frontend
  - build -t epourgh/ecommerce-webserver ./webserver
  - build -t epourgh/ecommerce-backend ./backend
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push epourgh/ecommerce-frontend
  - docker push epourgh/ecommerce-webserver
  - docker push epourgh/ecommerce-backend

deploy:
  provider: elasticbeanstalk
  region: 'us-east-2'
  app: 'ecommerce'
  env: 'Ecommerce-env'
  bucket_name: 'elasticbeanstalk-us-east-2-354855292174'
  bucket_path: 'docker-ecommerce'
  skip_cleanup: true
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
